.button {
  cursor: pointer;
  box-shadow: 0px 0px 15px magenta;
  margin-left: 300px;
  margin-left: 0;
  margin-right: 550px;
}
.hovCreate:hover {
  box-shadow: 0px 1px 10px cyan;
  transition: 0.2s ease;
  transform: rotate(90deg);
}
.divButton {
  text-align: center;
}
